<!-- new post -->

  <mat-card style="margin-bottom:30px;">
    <mat-card-title>Create Post</mat-card-title>
    
    <mat-progress-spinner 
      *ngIf="isLoading" 
      mode="indeterminate" 
      style="margin:auto;">
    </mat-progress-spinner>

    <form [formGroup]="form" *ngIf="!isLoading" (ngSubmit)="savePost()">
      <mat-form-field class="example-full-width">
        <textarea matInput 
        formControlName="content"
        placeholder="write something..." rows="3"></textarea>
      </mat-form-field>

      <div>
          <!-- <img mat-card-image> -->
          <button
            mat-raised-button color="primary" 
            (click)="inputFile.click()" type="button">
            Upload Image
          </button> 
          <span *ngIf="form.get('image').errors?.invalidMimeType">
            upload only images with jpg, jpeg, png Extension
          </span>
          <input type="file" #inputFile (change)="uploadImage($event)">

          <div class="image-preview text-center" *ngIf="imagePreviewUrl && form.get('image').valid">
            <img [src]="imagePreviewUrl">
          </div>
      </div>
      

      <mat-card-actions *ngIf="(form.value.image && form.get('image').valid) || form.value.content" class="text-right">
        <button class="btn btn-primary"
        type="submit"
        mat-raised-button color="primary"
        >Create Post</button>
        <button 
          class="btn btn-primary"
          mat-raised-button
          (click)="discardPost()"
          >Discard</button>
      </mat-card-actions>
    
    </form>
    
  </mat-card>


